@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

/* Add this in a global CSS file */
html {
  scroll-behavior: smooth;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #222;
  color: #fff;
  overflow-x: hidden;
}

.height{
  max-height: calc(100vh - 6rem);
}

.mohona{
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.up{
  transform: translateY(50%);
}

.down{
  transform: translateY(-50%);
}
